# Udev rule to automatically launch KVM display when Pocket 3 is used as KVM
# GPD Pocket 3 KVM Module
#
# Installation:
#   sudo cp 99-kvm-autolaunch.rules /etc/udev/rules.d/
#   sudo cp kvm-auto-launch-helper.sh /usr/local/bin/
#   sudo cp kvm-display-auto@.service /etc/systemd/system/
#   sudo chmod +x /usr/local/bin/kvm-auto-launch-helper.sh
#   sudo udevadm control --reload-rules
#   sudo systemctl daemon-reload
#
# Triggers when EITHER:
#   1. HDMI Capture device is connected (video from server appears)
#   2. Pocket 3 keyboard disconnects (keyboard switches to server control)

# Trigger 1: HDMI Capture device CONNECTED (XF HDMI Capture - USB 3188:1000)
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="3188", ATTRS{idProduct}=="1000", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="kvm-display-auto@%k.service"

# Trigger 2: Pocket 3 keyboard REMOVED (HAILUCK keyboard - USB 258a:000c)
SUBSYSTEM=="usb", ATTR{idVendor}=="258a", ATTR{idProduct}=="000c", ACTION=="remove", TAG+="systemd", ENV{SYSTEMD_WANTS}="kvm-display-auto@%k.service"
